/build/
/vendor/
/config/parameters.yml
/.vagrant
node_modules/
web/css/*
web/img/*
web/js/*
/.phpunit.result.cache
/var/
!/var/.gitkeep

###> symfony/webpack-encore-bundle ###
/node_modules/
/web/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
