/* Config vars */
@import "../../config/scss-vars";

$total-columns: 12;
$column-width:  4em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;

/* compass */
@import "compass/reset";
@import "compass/css3";

/* other plugins */
@import "susy";

body {
    color: $color-text;
    background: $background;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.container {
    @include container;
}

.logo {
    margin: 1em 0 0 0;
    text-align: center;
    line-height: 120px;

    a {
        color: $color-text;
        text-decoration: none;
    }

    .primary {
        display: inline-block;
        width: 444px;
        height: 80px;
        text-indent: -9999px;
        background-image: url($logo);
    }
    .secondary {
        display: inline-block;
        font-size: 65px;
        font-style: italic;
    }
}

@include susy-breakpoint(0em 40em) {
    .logo {
        line-height: 60px;

        .primary {
            width: 222px;
            height: 40px;
            background-size: 222px;
        }
        .secondary {
            display: block;
            font-size: 45px;
            font-style: italic;
            margin-bottom: 1em;
        }
    }
}

.title {
    margin: 0 0 1.5em 0;
    font-size: 40px;
    text-align: center;
}

.meetups {
    li {
        font-size: 20px;
    }

    a {
        background: $background-list-item;
        display: block;
        color: $color-list-item-text;
        text-decoration: none;
        padding: 0.5em;
        margin-bottom: 1px;

        &:hover {
            background: $background-list-item-hover;
        }
    }

    .first a {
        color: $list-item-current-color;
        font-size: 1.2em;
    }
}

.checkins {
    text-align: center;

    .checkin {
        @include border-radius(16px, 16px);
        border: 8px solid #000;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 0 1em 1em 0;
        background-position: center;
        background-size: cover;
        text-align: center;
        background-color: #cccccc;

        .name {
            display: none;
        }

        &.selected {
            border-color: $raffle-highlight-border-color;
        }

        &.loser {
            display: none;
            opacity: 0;
        }

        &.winner {
            position: relative;
            border: 0;
            width: 300px;
            height: 400px;

            .name {
                position: absolute;
                top: 300px;
                width: 100%;
                display: block;
                font-size: 2em;
                background-color: $winner-background-color;
                padding: 3px;
            }
        }
    }

    .checkin-link {
        margin-bottom: 1em;
        a:link, a:visited {
            color: $color-text;
        }
    }
}

.rsvps {
    @extend .checkins;

    .rsvp {
        @extend .checkin;

        &:hover {
            cursor: pointer;
        }

        &.checked_in {
            border: 8px solid #A1C99D;
        }
    }

    .tap-to-checkin {
        margin-bottom: 1em;
    }
}
