/* compass */
/* line 5, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* other plugins */
/* line 13, ../../scss/main.scss */
body {
  color: #ffffff;
  background: #000000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/* line 21, ../../scss/main.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../../scss/main.scss */
.logo {
  margin: 1em 0 0 0;
  text-align: center;
  line-height: 120px;
}
/* line 30, ../../scss/main.scss */
.logo a {
  color: #ffffff;
  text-decoration: none;
}
/* line 35, ../../scss/main.scss */
.logo .primary {
  display: inline-block;
  width: 444px;
  height: 80px;
  text-indent: -9999px;
  background-image: url("/img/logo.png");
}
/* line 42, ../../scss/main.scss */
.logo .secondary {
  display: inline-block;
  font-size: 65px;
  font-style: italic;
}

@media (min-width: 0em) and (max-width: 40em) {
  /* line 50, ../../scss/main.scss */
  .logo {
    line-height: 60px;
  }
  /* line 53, ../../scss/main.scss */
  .logo .primary {
    width: 222px;
    height: 40px;
    background-size: 222px;
  }
  /* line 58, ../../scss/main.scss */
  .logo .secondary {
    display: block;
    font-size: 45px;
    font-style: italic;
    margin-bottom: 1em;
  }
}
/* line 67, ../../scss/main.scss */
.title {
  margin: 0 0 1.5em 0;
  font-size: 40px;
  text-align: center;
}

/* line 74, ../../scss/main.scss */
.meetups li {
  font-size: 20px;
}
/* line 78, ../../scss/main.scss */
.meetups a {
  background: #1a1a1a;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  margin-bottom: 1px;
}
/* line 86, ../../scss/main.scss */
.meetups a:hover {
  background: #212121;
}
/* line 91, ../../scss/main.scss */
.meetups .first a {
  color: #b3ff97;
  text-shadow: 0 -1px 0 #000, 0px 0 5px rgba(179, 255, 151, 0.8);
  font-size: 1.2em;
}

/* line 98, ../../scss/main.scss */
.checkins, .rsvps {
  text-align: center;
}
/* line 101, ../../scss/main.scss */
.checkins .checkin, .rsvps .checkin, .rsvps .rsvp {
  -moz-border-radius: 16px / 16px;
  -webkit-border-radius: 16px 16px;
  border-radius: 16px / 16px;
  border: 8px solid #000;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 1em 1em 0;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: #cccccc;
}
/* line 112, ../../scss/main.scss */
.checkins .checkin .name, .rsvps .checkin .name, .rsvps .rsvp .name {
  display: none;
}
/* line 116, ../../scss/main.scss */
.checkins .checkin.selected, .rsvps .checkin.selected, .rsvps .selected.rsvp {
  border-color: #f00;
}
/* line 120, ../../scss/main.scss */
.checkins .checkin.loser, .rsvps .checkin.loser, .rsvps .loser.rsvp {
  display: none;
  opacity: 0;
}
/* line 125, ../../scss/main.scss */
.checkins .checkin.winner, .rsvps .checkin.winner, .rsvps .winner.rsvp {
  position: relative;
  border: 0;
  width: 300px;
  height: 400px;
}
/* line 131, ../../scss/main.scss */
.checkins .checkin.winner .name, .rsvps .checkin.winner .name, .rsvps .winner.rsvp .name {
  position: absolute;
  top: 300px;
  width: 100%;
  display: block;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
}
/* line 143, ../../scss/main.scss */
.checkins .checkin-link, .rsvps .checkin-link {
  margin-bottom: 1em;
}
/* line 145, ../../scss/main.scss */
.checkins .checkin-link a:link, .rsvps .checkin-link a:link, .checkins .checkin-link a:visited, .rsvps .checkin-link a:visited {
  color: white;
}

/* line 157, ../../scss/main.scss */
.rsvps .rsvp:hover {
  cursor: pointer;
}
/* line 161, ../../scss/main.scss */
.rsvps .rsvp.checked_in {
  border: 8px solid #A1C99D;
}
/* line 166, ../../scss/main.scss */
.rsvps .tap-to-checkin {
  margin-bottom: 1em;
}
