body {
	padding-top: 60px;
}

.thumb {
	padding: 5px;
	width: 80px;
	height: 80px;
	margin: 5px;
    border: 2px solid #FFF;
}

.photo {
	width: 200px;
	height: 200px;
    padding: 0;
	margin: 0;
    border: 0;
}

.selected {
	border: 2px solid #CCC;
	background-color: #CCC;
}

#raffle-result{
    text-align: center;
    clear: both;
    display:none;
    margin-top: 10px;
    margin-bottom: 10px;;
}

#raffle-result .winner {
    width: 200px;
    float: left;
}

#raffle-result .winner .name {
    display: block;
    font-weight: bold;
    background-color: #000;
    color: #FFF;
    padding: 5px;
}
