{% extends "layout.html.twig" %}

{% block title event.name %}

{% block content %}

    <h2 class="title">{{ event.name }}</h2>

    <div class="checkins">
        {% for checkin in event.checkins %}
        <div class="checkin">
            <img src="{{ checkin.photo.photo_link }}" title="{{ checkin.name }}" alt="{{ checkin.name }}" />
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/raffler.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var raffler = new Raffler($('.thumb.active'), '#pick-winner', '#clear-winners', '#raffle-result' );
    </script>
{% endblock %}
