{% extends "layout.html.twig" %}

{% block title event.name %}

{% block content %}

    <h2 class="title">{{ event.name }}</h2>


    <div class="checkins">
        {% for checkin in event.checkins %}
            <div class="checkin" style="background-image: url('{{ checkin.photo.photo_link }}');">
                <span class="name">{{ checkin.name }}</span>
            </div>
        {% endfor %}
        {% if event.checkins is empty %}
            <p class="no-checkins">Oh noes! No checkins!</p>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="/js/raffler.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            Raffler.init();
            Raffler.winners = {{ winners|json_encode|raw }}
        });
    </script>
{% endblock %}
