{% extends "layout.html.twig" %}

{% block title 'Meetups' %}

{% block content %}

    <h2 class="title">Meetups</h2>

    {% if meetups is not empty %}
    <ul class="meetups">
        {% for meetup in meetups %}
            <li{% if loop.first %} class="first"{% endif %}>
                <a href="{{ path('event', {id: meetup.id}) }}">{{ meetup.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
