<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - AmsterdamPHP Raffler</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1 class="logo">
                <a href="/">
                    <span class="primary">AmsterdamPHP</span>
                    <span class="secondary">Raffler</span>
                </a>
            </h1>

            {% block content %}{% endblock %}

        </div>
		{% block javascripts %}{% endblock %}
    </body>
</html>
